@import '../../styles/variables.css';

.simple-avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  box-shadow: var(--shadow-soft);
}

.simple-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

